@import url('https://fonts.googleapis.com/css2?family=Amarante&family=Staatliches&display=swap');
body {
  margin: 0;
  font-family: Helvetica, sans-serif;
  background-color: #2f073b;
  color: white;
}


.login-box {
  max-width: 500px;
  background: rgba(47, 7, 59, 0.9);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.6);
}

.title {
  font-family: 'Amarante', serif;
  font-size: 28px;
  margin-bottom: 20px;
  text-align: center;
}

.form-control {
  border-radius: 6px;
  border: 1px solid #232323;
}

.btn {
  background: #cbb4d4;
  color: #2f073b;
  font-weight: bold;
  border-radius: 6px;
  transition: all 0.3s ease;
}

.btn:hover {
  background: #b192c3;
}

a {
  color: #aaa;
  font-size: 14px;
  text-decoration: underline;
}

a:hover {
  color: white;
}

.desktop-view {
  min-height: 100vh;
  background: url("../img/gta5.jpeg") no-repeat center center/cover;
}

.mobile-view img {
  width: 100%;
}